/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.keyboard-container-stim {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.keyboard-stim {
    width: 150px;
    background-color: #eaeaea;
	border: 1px solid #afafaf;
    padding: 20px;
    margin: 10px;
}

.keyboard-stim {
    width: 150px;
    background-color: #eaeaea;
	border: 1px solid #afafaf;
    padding: 20px;
    margin: 10px;
}

.keyboard-container-choice {
    position: fixed;
    /* bottom: 0px; */
    top: 0px;
    left: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.button-choice-break {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #EAEAE7;
    border-color: #ccc;
    padding: 1em;
    margin: 10px;
    font-size: 1.2em;
    outline: none;
}

.button-choice-response {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #EAEAE7;
    border-color: #ccc;
    padding: 1em;
    margin: 10px;
    font-size: 25px;
    outline: none;
    min-width: 200px;
}

.text-instr {
    font-size: 1.5em;
}


/* Input */

.jspsych-survey-multi-select-option {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

select {
    border: solid 1px #C7C5C5; 
    padding: 10px;
    min-width: 200px;
    margin: 10px;
}

#jspsych-survey-html-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#jspsych-survey-likert-form {
    width: 100vw;
}

.jspsych-survey-likert-preamble {
    margin-top: 20px;
}

#jspsych-survey-multi-select-next {
    margin-bottom: 15px;
}

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


.jspsych-select{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 30px;
  }
  
  .jspsych-select:hover {
    background-color: #ddd;
    border-color: #aaa;
  }

.selectapperance {
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    border-color: transparent;
    background: none;
    outline: none;
    padding: 10px 20px;
    font-size: 18px;
}

.selectapperance:hover {
    background-color: #ddd;
    border-color: #aaa;
    border-color: transparent;
}

.btn-apperance {
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    border-color: transparent;
    background: none;
    outline: none;
    margin: 0px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.jspsych-btn-input {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.jspsych-text-input {
    padding: 5px;
    border: solid 1px #C7C5C5;
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 30px;
}


input[type='text'] {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    border-color: transparent;
    background: none;
    outline: none;
    margin: 0px;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
}


input[type='radio'] {
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: solid 1px #C7C5C5;
}

input[type='checkbox'] {
    padding: 10px;
    width: 50px;
    height: 35px;
}

.prompt-multi-select {
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.jspsych-survey-multi-select-text {
    font-size: 15px;
    margin: 5px;
    /* width: 100%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}


.text-container {
    width: 95vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
}

.text-container-1{
    width: 95vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 15px;
}

.text-preamble-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
    line-height: 40px;
}

.text-container-image {
    width: 95vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
}

.jspsych-survey-text-question {
    font-size: 20px;
}

img {
    border: solid 3px red;
    border-radius: 5px;
}

.part {
    width: 200px;
    padding: 10px;
    border: solid 1px #C3C3C3;
    border-radius: 10px;
    background: #C7C5C5;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}

.descript {
    font-size: 12px;
    margin-top: 5px;
}

.intro-img {
    border: none;
    height: 75vh;
    width: 90vw;
}

.instr-img {
    margin-top: 20px;
    height: 100px;
    width: 160px;
}

@media (min-width: 400px) {
    .intro-img{
        width: 55vw;
    }
}
/*
.jspsych-survey-likert-statement {
    font-size: 17px;
}


.jspsych-survey-likert-opt-label {
    font-size: 13px;
}*/